@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
    font-family: 'MedievalSharp', cursive;
}

.logo {
    width: 60px;
    height: 100%;
    float: left;
    background: url("https://thumb1.shutterstock.com/display_pic_with_logo/1584374/343430513/stock-vector-cute-vintage-valentine-s-day-card-with-puppy-heart-and-speech-bubble-with-note-i-ruff-you-343430513.jpg") center no-repeat;
    background-size: contain;
    /* background-color: wheat; */
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    padding: 10px;
}

.nav-item {
    float: left;
    color: rgb(217, 217, 238);
    font-size: 18px;
    font-family: sans-serif;
    padding: 16px;
    text-decoration: none;

}

.nav-item:hover {
    background-color: rgb(125, 83, 223);
}

h3, h1 {
    color: blue;
}

#title {
    margin-top: 100px;
    text-align: center;
    font-size: 55px;
}


#sub-title {
    text-align: center;
    font-size: 25px;
}

.center-box {
    margin: auto;
    margin-top: 80px;
    width: 50%;
    border: 3px solid royalblue;
    padding: 30px 15px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 5%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}